<a href="https://colab.research.google.com/github/venkateshnaramula/23CSBTB39-40/blob/main/Array1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Part 1 â€“ Implement Basic Data Structures using Numpy, Pandas

In [1]:
import numpy as np
list={1,5,2,6,7}
print(list)

{1, 2, 5, 6, 7}

In [5]:
List = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List)
print(List[0])
print(List[2])

List Items:
['Geeks', 'For', 'Geeks']
Geeks
Geeks

List Items:
['Geeks', 'For', 'Geeks']
Geeks
Geeks

In [ ]:
List = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List)
print(List[0])
print(List[2])

List Items:
['Geeks', 'For', 'Geeks']
Geeks
Geeks

List Items:
['Geeks', 'For', 'Geeks']
Geeks
Geeks

In [6]:
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of Numbers: ")
print(List)

# Creating a List with
# mixed type of values
# (Having numbers and strings)
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
print("\nList with the use of Mixed Values: ")
print(List)

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

List with the use of Mixed Values:
[1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

In [10]:
List1 = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of Numbers: ")
print(List1)

# Creating a List with
# mixed type of values
# (Having numbers and strings)
List2 = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
print("\nList with the use of Mixed Values: ")
print(List2)

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

List with the use of Mixed Values:
[1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

In [11]:
type(List2)

list

In [12]:
print(type(List2))

<class 'list'>

In [13]:
List3={"Apple","banana","orange"}
print(type(List3))

<class 'set'>

In [14]:
k1="welcome to MLLAB"
print(type(k1))

<class 'str'>

In [17]:
str_list = "Welcome to Guru99"
age = 50
pi = 3.14
c_num = 3j+10
my_list = ["A", "B", "C", "D"]
my_tuple = ("A", "B", "C", "D")
my_dict = {"A":"a", "B":"b", "C":"c", "D":"d"}
my_set = {'A', 'B', 'C', 'D'}

In [18]:
print("The type is : ",type(str_list))
print("The type is : ",type(age))
print("The type is : ",type(pi))
print("The type is : ",type(c_num))
print("The type is : ",type(my_list))
print("The type is : ",type(my_tuple))
print("The type is : ",type(my_dict))
print("The type is : ",type(my_set))

The type is :  <class 'str'>
The type is :  <class 'int'>
The type is :  <class 'float'>
The type is :  <class 'complex'>
The type is :  <class 'list'>
The type is :  <class 'tuple'>
The type is :  <class 'dict'>
The type is :  <class 'set'>